<div th:replace="~{common/head}"></div>

<div class="form-container">
  <h1 class="title">Register</h1>

  <form class="user-form" th:action="@{/register}" method="post" th:object="${user}">
    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='username', fieldName='username', fieldLabel='Username', fieldType='text', autocomplete='username', required=true, hxPost='/api/validate/username', hxTrigger='change, keyup delay:500ms', hxTarget='#username-error')}">
    </div>

    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='email', fieldName='email', fieldLabel='Email', fieldType='email', autocomplete='email', required=true, hxPost='/api/validate/email', hxTrigger='change, keyup delay:500ms', hxTarget='#email-error')}">
    </div>

    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='firstName', fieldName='firstName', fieldLabel='First Name', fieldType='text', autocomplete='given-name', required=true)}">
    </div>

    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='lastName', fieldName='lastName', fieldLabel='Last Name', fieldType='text', autocomplete='family-name', required=true)}">
    </div>

    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='password', fieldName='password', fieldLabel='Password', fieldType='password', autocomplete='new-password', required=true)}">
    </div>

    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='confirmPassword', fieldName='confirmPassword', fieldLabel='Confirm Password', fieldType='password', autocomplete='new-password', required=true)}">
    </div>

    <div th:if="${#fields.hasErrors('passwordConfirmed')}" class="error">
      <span th:errors="*{passwordConfirmed}"></span>
    </div>

    <div th:if="${#fields.hasGlobalErrors()}" class="error">
      <span th:each="error : ${#fields.globalErrors()}" th:text="${error.defaultMessage}"></span>
    </div>

    <div th:if="${registerError}" class="error">
      <p th:text="${registerError}"></p>
    </div>

    <div th:replace="~{common/ui/submit-button :: submit-button(buttonText='Register')}"></div>
  </form>

  <div
    th:replace="~{common/ui/form/form-footer :: form-footer(footerText='Already have an account?', footerLinkText='Login here', footerLink=@{/login})}">
  </div>

</div>


</body>

</html>