<div th:replace="~{common/head}"></div>

<div class="form-container">
  <h1 class="title">Forgot Password</h1>

  <div th:replace="~{common/ui/messages :: messages}"></div>

  <form class="user-form" th:action="@{/forgot-password}" method="post" th:object="${forgotPasswordRequest}">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    
    <p class="form-description">Enter your email address and we'll send you a code to reset your password.</p>

    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='email', fieldName='email', fieldLabel='Email', fieldType='email', autocomplete='email', required=true)}">
    </div>

    <div th:if="${emailError}" class="error">
      <p th:text="${emailError}"></p>
    </div>

    <div th:replace="~{common/ui/submit-button :: submit-button(buttonText='Send Reset Code')}"></div>
  </form>

  <div
    th:replace="~{common/ui/form/form-footer :: form-footer(footerText='Remember your password?', footerLinkText='Login here', footerLink=@{/login})}">
  </div>
</div>

</body>

</html>
