<div th:replace="~{common/head}"></div>


<div class="form-container">
  <h1 class="title">Login</h1>

  <div th:replace="~{common/ui/messages :: messages}"></div>

  <form class="user-form" th:action="@{/login}" method="post" th:object="${user}">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='username', fieldName='username', fieldLabel='Username', fieldType='text', autocomplete='username', required=true)}">
    </div>

    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='password', fieldName='password', fieldLabel='Password', fieldType='password', autocomplete='current-password', required=true)}">
    </div>

    <div th:if="${loginError}" class="error">
      <p th:text="${loginError}"></p>
    </div>

    <div class="text-right mb-4">
      <a th:href="@{/forgot-password}" class="text-blue-600 hover:text-blue-800 text-sm">Forgot Password?</a>
    </div>

    <div th:insert="~{common/ui/submit-button :: submit-button(buttonText='Login')}"></div>
  </form>

  <div
    th:replace="~{common/ui/form/form-footer :: form-footer(footerText='Don\'t have an account?', footerLinkText='Register here', footerLink=@{/register})}">
  </div>
</div>

</body>

</html>