<div th:replace="~{common/head}"></div>

<div class="form-container">
  <h1 class="title">Reset Password</h1>

  <div th:replace="~{common/ui/messages :: messages}"></div>

  <form class="user-form" th:action="@{/reset-password}" method="post" th:object="${resetPasswordRequest}">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <input type="hidden" th:field="*{email}" />

    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='code', fieldName='code', fieldLabel='Verification Code', fieldType='text', autocomplete='off', required=true)}">
    </div>

    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='newPassword', fieldName='newPassword', fieldLabel='New Password', fieldType='password', autocomplete='new-password', required=true)}">
    </div>

    <div
      th:replace="~{common/ui/input-field :: input-field(fieldId='confirmPassword', fieldName='confirmPassword', fieldLabel='Confirm Password', fieldType='password', autocomplete='new-password', required=true)}">
    </div>

    <div th:if="${resetError}" class="error">
      <p th:text="${resetError}"></p>
    </div>

    <div th:replace="~{common/ui/submit-button :: submit-button(buttonText='Reset Password')}"></div>
  </form>

  <div
    th:replace="~{common/ui/form/form-footer :: form-footer(footerText='Remember your password?', footerLinkText='Login here', footerLink=@{/login})}">
  </div>
</div>

</body>

</html>
