<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/main.css}" />
</head>

<body>
  <h1>Welcome to workout tracker!</h1>
  <div th:if="${isAuthenticated}">
    <p>Hello, <span th:text="${username}"></span>!</p>
  </div>

  <div th:if="${!isAuthenticated}">
    <a th:href="@{/login}">Login</a>
    <a th:href="@{/register}">Register</a>
  </div>
  <div th:unless="${!isAuthenticated}">
    <form action="#" th:action="@{/logout}" method="post">
      <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
      <button type="submit">Logout</button>
    </form>
  </div>
</body>

</html>