@import "tailwindcss";
@source "../resources/templates/**/*.html";



@layer components {

    body {
        @apply bg-gray-100;
    }

    label {
        @apply text-xl font-bold;
    }

    .form-container{
        @apply flex flex-col gap-4 items-center justify-center w-full min-h-dvh;
    }

    .title {
        @apply text-2xl font-bold;
    }

    .user-form{
        @apply flex flex-col gap-4 w-full max-w-sm;
    }

    .error {
        color: red;
        font-size: 0.875rem;
        margin-top: 0.25rem;
    }
}