<div class="flex flex-col gap-2"
  th:fragment="input-field(fieldId, fieldName, fieldLabel, fieldType, autocomplete, required)"
  th:with="hxGet=${hxGet ?: ''}, hxTrigger=${(fieldName == 'username' or fieldName == 'email') ? 'keyup changed delay:500ms' : ''}, hxTarget=${hxTarget ?: ''}">
  <label th:for="${fieldId}" th:text="${fieldLabel} + ':'"></label>

  <div class="relative">
    <input
      class="border-2 border-blue-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 rounded-md px-3 py-2 w-full pr-10"
      th:type="${fieldType}" th:id="${fieldId}" th:field="*{__${fieldName}__}" th:autocomplete="${autocomplete}"
      th:required="${required}" th:hx-post="${hxGet}" th:hx-trigger="${hxTrigger}" th:hx-target="${hxTarget}"
      th:hx-params="${fieldName}"
      th:hx-indicator="${(fieldName == 'username' or fieldName == 'email') ? '#spinner-' + fieldId : ''}" />

    <div th:if="${fieldName == 'username' or fieldName == 'email'}" th:id="'spinner-' + ${fieldId}" class="absolute right-3 top-1/2 transform -translate-y-1/2 flex items-center 
     htmx-indicator transition-opacity duration-500 opacity-0">
      <div class="animate-spin rounded-full h-4 w-4 border-b-2 border-blue-500"></div>
    </div>
  </div>
  <span th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}" class="error"></span>
  <div th:id="${fieldId + '-error'}"></div>
</div>